.background-on-grey() {
	background-color: #fff;
	padding: 20px;
	border: 1px solid @gray-light;
}

.file-icon-list(@font-size, @left, @top) {
	&:before {
		font-family: @font-family-icon;
		font-size: @font-size;
		position: absolute;
		left: @left;
		top: @top;
	}
	&.video:before {
		content: "\f16a";
	}
	&.files:before {
		content: "\f1c1";
	}
	&.image:before {
		content: "\f1c5";
	}
	&.webpages:before {
		content: "\f0c1";
	}
}