.announcements {
	background: @gray;
	.widget.home-widget {
		padding-left: 60px;
		position: relative;
		h2, h3, .textwidget {
			text-align: left;
			color: #fff;
		}
		h2 {
			font-size: @font-size-h4;
			text-transform: uppercase;
		}
		.textwidget {
			font-size: @font-size-base;
		}
		&:before {
			content: "\f073";
			font-family: @font-family-icon;
			font-size: @font-size-h1;
			color: #fff;
			width: 60px;
			position: absolute;
			left: 0;
		}
	}
}