.category-home{
	&:before {
		content: "\f02d";
		color: #818181;
		font-family: @font-family-icon;
		font-size: @font-size-h1;
		text-align: center;
		display: block;
	}
	&.prevention:before {
		content: "\f06d";
	}
	&.operations:before {
		content: "\f085";
	}
	&.administration:before {
		content: "\f046";
	}
	&.communications:before {
		content: "\f0e6";
	}
	&.events:before {
		content: "\f073";
	}
	&.safety:before {
		content: "\f0fa";
	}
	&.training:before {
		content: "\f02d";
	}

	h4, p {
		text-align: center;
	}
	h4 a {
		color: @gray-dark;
		font-weight: @font-weight-semi-bold;
		text-transform: uppercase;
	}
	p {
		font-size: @font-size-small;
		color: @gray-light;
	}
}

.home.categories{
	padding: 60px 0;
	.widget.home-widget {
		h2 {
			color: #000;
			padding-bottom: 0;
			text-transform: uppercase;
		}
		.textwidget {
			text-align: center;
			color: @gray-light;
		}
	}
}