.recent-files {
	.widget.home-widget h2 {
		text-transform: uppercase;
		color: @gray-dark;
	}
	.textwidget {
		text-align: center;
		font-size: @font-size-h4;
	}
	.recent {
		overflow: auto;
		margin: 20px 0;

		li {
			padding-left: 0;
			position: relative;
			padding-bottom: 15px;
			.file-icon-list(@font-size-h2, 15px, 15px);

			&:nth-child(3n){
				padding-right: 0;
			}
			&:nth-child(4n) {
				clear: left;
			}
			> div {
				.background-on-grey();
				border-color: #fff;
				padding-left: 60px;
				min-height: 130px;
				a {
					color: @gray-dark;
					font-weight: @font-weight-semi-bold
				}
				.date-updated {
					padding: 0;
					color: @gray;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: @screen-sm) {
	.recent-files .recent li {
		padding-left: 0;
		padding-right: 0;
	}
}