#menu-social-menu {
	li.fa {
		display: block;
		color: #fff;
		float: left;
		
		&:before {
			font-size: @font-size-h3;
			margin-right: 6px;
		}

		a {
			font-family: @font-family-sans-serif;
		}
	}

}
.navbar-toggle {
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (min-width: @screen-sm) {
	.nav-block {
		padding: 30px 0;
	}
}