.searchForm(@width, @margin){
	
	@btn-width: @width * 0.16;
	
	ul {
		position: relative;
		width: @width;
		max-width: 100%;
		margin: 0 auto;
	}
	.sf-field-search {
		padding: 0;
		input {
		width: @width;
		max-width: 100%;
		padding: (@margin + 1) 10px;
		border: none;
		border-radius: @border-radius-base;
		font-size: 23px;
		}
	}

	.sf-field-submit {
		input {
			position: absolute;
			width: (@btn-width + 20px);
			right: 0;
			top: 0;
			margin: @margin;
			.btn();
			.btn-default();
			font-size: 14px;
			text-transform: uppercase;
			padding-left: 30px;
		}

		&:before {
			font-family: @font-family-icon;
			content: "\f002";
			position: absolute;
			top: 0;
			right: @btn-width;
			z-index: 3;
			color: #fff;
			font-size: 18px;
			line-height: 2.35;
		}
	}
}

.sf-field-category li {
	ul.children{
    	display: none;
	}
	&.active-trail > ul.children {
    	display: block;
	}
	label {
		cursor: pointer;
	}
	&.active > label {
	    font-weight: bold;
	}
}
.sf-field-category input[type='radio'] {
    display: none;
}

.home-widget form.searchandfilter {
	.searchForm(500px, 4px);
}

.sidebar-widget .searchandfilter {
	label {
		color: @gray;
		font-size: @font-size-base;
		font-weight: @font-weight-semi-bold;
	}
	h4 {
		font-size: 21px;
		font-weight: @font-weight-semi-bold;
		border-bottom: 1px solid @gray-light;
		text-transform: uppercase;
	}
	li {
		padding: 3px 0;
		&.active-trail > label {
			color: #990000;
			&:before {
				font-family: @font-family-icon;
				font-weight: lighter;
				content: "\f054";
			}
		}
		ul.children li > label {
			font-weight: @font-weight-normal;
		}
	}

	input[type='text'] {
		text-transform: uppercase;
		width: 100%;
		padding: 10px;
		border-radius: 4px;
		border: 1px solid @gray-light;
	}

	.sf-field-sort_order select.postform {
		margin: 12px 0;
		width: 100%;
		border-radius: 4px;
	}

	.sf-field-search {
		position: relative;
		&:after {
			content: "\f002";
			color: #fff;
			padding: 10px;
			font-family: @font-family-icon;
			font-weight: lighter;
			background-color: @gray;
			border: 1px solid @gray;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			width: 40px;
			position: absolute;
			right: 0;
		}
	}
}

.categories-tree {
	font-size: 14px;
	> .fa {
		margin: 0 5px;
		&:last-child {
			display: none;
		}
	}
	.category-label {
		margin-right: 6px;
	}
}

.categories .home-widget {
	margin-bottom: 40px;
}

.search-filter-results {
	& > div {
		.background-on-grey();
		margin-bottom: 12px;

		&.result {
			padding-left: 60px;
			position: relative;

			h3 {
				margin: 0;
				font-size: @font-size-large;
				font-weight: @font-weight-semi-bold;
				a, a:hover, a:focus {
					color: @gray;
					cursor: pointer;
				}
			}
			.date-updated {
				color: @gray;
				text-transform: uppercase;
				font-weight: @font-weight-semi-bold;
				font-size: @font-size-small;
			}
			.details-collapse {
				padding: 8px 0;
				display: block;
				color: @gray;
			}
			.description.in {
				margin: 0 0 8px;
			}
			
			.category-label {
				text-transform: uppercase;
				font-size: @font-size-small;
				font-weight: @font-weight-semi-bold;

			}
			.cat, .cat-parent {
				font-weight: @font-weight-normal;
				font-size: @font-size-small;
			}
			&:before {
				font-family: @font-family-icon;
				font-size: @font-size-h2;
				position: absolute;
				left: 15px;
				top: 15px;
			}
			&.video:before{
				content: "\f16a";
			}
			&.files:before {
				content: "\f1c1";
			}
			&.image:before {
				content: "\f1c5";
			}
			&.webpages:before {
				content: "\f0c1";
			}

		}
	}
}

.search.jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;

	h1 {
		font-size: 60px;
		color: #fff;
		text-align: center;
		text-transform: capitalize;
	}
}


/** Pagination Styles **/
.pages{
	width: 100%;
	text-align: center;
	span, a{
		padding: 5px;
	}
	a{
		color: #990000;
	}
	span{
		color: #666666;
	}
}


@media (max-width: @screen-sm) {
	.search.jumbotron{
		h1{
			font-size: 40px;
		}
	}
}
