.widget {
	h2 {
		color: @gray-light;
		margin-top: 0;
		border-bottom: 2px solid @gray-lighter;
		padding-bottom: @padding-small-horizontal;
		font-size: @font-size-base;
		font-weight: @font-weight-semi-bold;
		text-transform: uppercase;
	}
	ul {
		padding: 0;
		list-style: none;

		li {
			a {
				color: @gray-lighter;
			}
		}
	}

	&.sidebar-widget {
		.background-on-grey();
		margin-bottom: 22px;
	}
	&.footer-widget {
		color: #fff;
	}
	&.home-widget {
		h2, h3 {
			color: #fff;
			border: none;
			font-size: @font-size-h1;
			text-transform: none;
			text-align: center;
			margin: 0;
		}
		h3 {
			font-size: @font-size-h4;
			margin-bottom: 40px;
		}
		.sf-field-category, .sf-field-sort_order {
			display: none;
		}

	}
}
