#wrapper {
	background-color: @gray-lighter;
	.single {
		.background-on-grey();
		margin: 20px 0;
	}
}

.jumbotron {
	margin: 0;
	.search-home {
		margin: 200px auto;
		width: 66.66667%;
	}
}

.categories {
	background-color: #fff;
}

.container {
	padding-top: 22px;
	padding-bottom: 22px;
}