footer.footer {
	border-top: 1px solid #fff;
	background-color: @gray-dark;
	padding: 50px 0;
	margin-top: 22px;
	ul.files-footer li {
		position: relative;
		padding-left: 20px;
		.file-icon-list(@font-size-base, 0, 0);
	}

	ul li {
		margin-bottom: 6px;
	}

}