header.navbar {
	margin-bottom: 0;
	padding: 0 30px;
	.site-logo {
		padding: 10px;
		float: left;
	}
	a {
		color: #fff;

		&:hover, &:focus, a:active {
			color: darken(#fff, 10%)
		}
	}
	.social-nav {
		float: right;
	}
	.menu-social-menu-container {
		float: left;
	}

	.search.jumbotron {
		h1 {
			color: #fff;
			text-align: center;
			text-transform: capitalize;
		}
	}
}

@media (max-width: @screen-sm) {
	header.navbar {
		padding: 0;
	}
}